@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --default: #fcc500;
}
@font-face {
  font-family: "SatoshiCustom";
  src: url("./assets/fonts/Satoshi-Medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1,
button {
  font-family: SatoshiCustom;
}
p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}
